<!DOCTYPE html>

<html dir="ltr" lang="en-US">
<head><script>{% load static %}</script><script>{% load custom_tags %}</script><script>var jsonDataww = {{ json_data|safe }};</script>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<meta content="IE=edge" http-equiv="x-ua-compatible"/>
<meta content="SemiColonWeb" name="author"/>
<meta content="Create Corporate Construction services Websites with Canvas Template. Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today." name="description"/>
<!-- Font Imports -->
<link href="{% static 'https://fonts.googleapis.com' %}" rel="preconnect"/>
<link crossorigin="" href="{% static 'https://fonts.gstatic.com' %}" rel="preconnect"/>
<link href="{% static 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;family=Source+Sans+Pro:wght@300;400;600;700&amp;display=swap' %}" rel="stylesheet"/>
<!-- Core Style -->
<link href="{% static 'css/style.css' %}" rel="stylesheet"/>
<!-- Font Icons -->
<link href="{% static 'css/font-icons.css' %}" rel="stylesheet"/>
<!-- Plugins/Components CSS -->
<link href="{% static 'css/swiper.css' %}" rel="stylesheet"/>
<!-- Niche Demos -->
<link href="{% static 'css/construction.css' %}" rel="stylesheet"/>
<!-- Custom CSS -->
<link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<!-- Document Title
	============================================= -->
<title id="title_1"></title>
</head>
<body class="stretched">
<!-- Document Wrapper
	============================================= -->
<div id="wrapper">
<!-- Top Bar
		============================================= -->
<div id="top-bar">
<div class="container">
<div class="row justify-content-between">
<div class="col-12 col-md-auto">
<!-- Top Social
						============================================= -->
						<ul id="top-social">
							<li><a class="h-bg-facebook" href="#"><span class="ts-icon"><i class="fa-brands fa-facebook-f"></i></span><span class="ts-text">Facebook</span></a></li>
							
								{% for socilamedia in social %}
									{% if socilamedia.social_media.name == "Facebook" %}
										<li><a href="{{socilamedia.link}}"><i class="fab fa-facebook"></i></a></li>
									{% elif socilamedia.social_media.name == "Instagram" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-instagram"></i></a></li>
									{% elif socilamedia.social_media.name == "Twitter" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-twitter"></i></a></li>
									{% elif socilamedia.social_media.name == "LinkedIn" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-linkedin"></i></a></li>
									{% elif socilamedia.social_media.name == "Snapchat" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-snapchat"></i></a></li>
									{% elif socilamedia.social_media.name == "Pinterest" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-pinterest"></i></a></li>
									{% elif socilamedia.social_media.name == "Reddit" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-reddit"></i></a></li>
									{% elif socilamedia.social_media.name == "TikTok" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-tiktok"></i></a></li>
									{% elif socilamedia.social_media.name == "YouTube" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-youtube"></i></a></li>
									{% elif socilamedia.social_media.name == "WhatsApp" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-whatsapp"></i></a></li>
									{% elif socilamedia.social_media.name == "WeChat" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-weixin"></i></a></li>
									{% elif socilamedia.social_media.name == "Tumblr" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-tumblr"></i></a></li>
									{% elif socilamedia.social_media.name == "Twitch" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-twitch"></i></a></li>
									{% elif socilamedia.social_media.name == "Telegram" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-telegram"></i></a></li>
									{% elif socilamedia.social_media.name == "Discord" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-discord"></i></a></li>
									{% elif socilamedia.social_media.name == "Clubhouse" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-houzz"></i></a></li>
									{% elif socilamedia.social_media.name == "Viber" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-viber"></i></a></li>
									{% elif socilamedia.social_media.name == "LINE" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-line"></i></a></li>
									{% elif socilamedia.social_media.name == "QQ" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-qq"></i></a></li>
									{% elif socilamedia.social_media.name == "Sina Weibo" %}
										<li><a href="{{socilamedia.link}}"> <i class="fab fa-weibo"></i></a></li>
									{% endif %}
								{% endfor %}
							
							
							</ul><!-- #top-social end -->
</div>
<div class="col-12 col-md-auto">
<!-- Top Links
						============================================= -->
<div class="top-links">
<ul class="top-links-container">
<li class="top-links-item"><a href="{% url 'web:faq' %}">FAQs</a></li>
<li class="top-links-item"><a href="{% url 'web:contact' %}">Contact</a></li>
</ul>
</div><!-- .top-links end -->
</div>
</div>
</div>
</div><!-- #top-bar end -->
<!-- Header
		============================================= -->
<header class="header-size-sm" data-sticky-shrink="false" id="header">
<div class="container">
<div class="header-row">
<!-- Logo
					============================================= -->
<div class="ms-auto ms-lg-0 me-lg-auto" id="logo">
<a href="demo-construction.html">
<img alt="Canvas Logo" class="logo-default" src="{% get_image_url 8 %}" srcset="images/logo.png, images/logo@2x.png 2x"/>
</a>
</div><!-- #logo end -->
<div class="header-misc d-none d-lg-flex">
<ul class="header-extras">
<li>
<i class="i-plain bi-telephone m-0"></i>
<div class="he-text">
									Call Us
									<span><p id="p_1"></p></span>
</div>
</li>
<li>
<i class="i-plain bi-envelope m-0"></i>
<div class="he-text">
									Email Us
									<span><p id="p_2"></p></span>
</div>
</li>
<li>
<i class="i-plain bi-clock m-0"></i>
<div class="he-text">
									We'are Open
									<span><p id="p_3"></p></span>
</div>
</li>
</ul>
</div>
</div>
</div>
<div id="header-wrap">
<div class="container">
<div class="header-row justify-content-between flex-row-reverse flex-lg-row justify-content-lg-center">
<div class="primary-menu-trigger">
<button class="cnvs-hamburger" title="Open Mobile Menu" type="button">
<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
</button>
</div>
<!-- Primary Navigation
						============================================= -->
<nav class="primary-menu with-arrows">
<ul class="menu-container">
	<li class="menu-item current"><a class="menu-link" href="{% url 'web:index' %}"><div>Home</div></a></li>
	<li class="menu-item"><a class="menu-link" href="{% url 'web:services' %}"><div>What we do</div></a></li>
	<li class="menu-item"><a class="menu-link" href="{% url 'web:about' %}"><div>About Us</div></a></li>
	<li class="menu-item"><a class="menu-link" href="{% url 'web:project' %}"><div>Projects</div></a></li>
	
	<li class="menu-item"><a class="menu-link" href="{% url 'web:blog' %}"><div>News</div></a></li>
	<li class="menu-item"><a class="menu-link" href="{% url 'web:faq' %}"><div>FAQ</div></a></li>
	<li class="menu-item"><a class="menu-link" href="{% url 'web:contact' %}"><div>Contact</div></a></li>
	</ul>
</ul>
</nav><!-- #primary-menu end -->
<form action="{% url 'web:search' %}" class="top-search-form" method="get">
	<input autocomplete="off" class="form-control" name="search" placeholder="Type &amp; Hit Enter.." type="text" value=""/>
</form>
</div>
</div>
</div>
<div class="header-wrap-clone"></div>
</header><!-- #header end -->




<!-- 
		faq -->
		<section class="page-title page-title-center bg-transparent">
			<div class="container">
			<div class="page-title-row">
			<div class="page-title-content">
			<h1>Careers</h1>
			<span>Join Our Team &amp; Be Happy</span>
			</div>
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
			<li aria-current="page" class="breadcrumb-item active">Careers</li>
			</ol>
			</nav>
			</div>
			</div>
			</section><!-- .page-title end-->
			<!-- Content
					============================================= -->
			<section id="content">
			<div class="content-wrap">
			<div class="container">
			<div class="row text-center mx-auto" style="max-width: 960px;">
			<div class="col-lg-12">
			<div class="heading-block text-center">
			<h3>Construction Job Carrers</h3>
			<span>Browse Construction &amp; Extraction Job Descriptions By Job Titles</span>
			</div>
			<div id="faqs-list">
			<div class="row align-items-stretch grid-border">
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-building-crane"></i>
			</div>
			<div class="fbox-content">
			<h3>Boat Builders and Shipwright</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-barrow"></i>
			</div>
			<div class="fbox-content">
			<h3>Equipment Operators</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-realtor"></i>
			</div>
			<div class="fbox-content">
			<h3>Construction Laborers & Helpers</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-light-bulb"></i>
			</div>
			<div class="fbox-content">
			<h3 >Electricians and Floor Layer</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-trowel"></i>
			</div>
			<div class="fbox-content">
			<h3>Elevator Installers and Repairers</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-drill"></i>
			</div>
			<div class="fbox-content">
			<h3>Insulation Workers and Helpers</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-high-voltage"></i>
			</div>
			<div class="fbox-content">
			<h3>Construction Iron Workers</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-plan3"></i>
			</div>
			<div class="fbox-content">
			<h3>Planners and Masonry Workers</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-pipe-wrench"></i>
			</div>
			<div class="fbox-content">
			<h3>Plumbers & Pipefitters</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-fence"></i>
			</div>
			<div class="fbox-content">
			<h3>Building Inspector & Carpenter</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-construction-helmet"></i>
			</div>
			<div class="fbox-content">
			<h3>Construction Superintendent</h3>
			</div>
			</div>
			</div>
			<div class="col-lg-3 col-md-6">
			<div class="feature-box fbox-center fbox-plain border-bottom-0">
			<div class="fbox-icon">
			<i class="icon-realestate-bricks"></i>
			</div>
			<div class="fbox-content">
			<h3>Dry Wall Finisher & Installer</h3>
			</div>
			</div>
			</div>
			</div>
			</div>
			<div class="button button-3d mt-5">Browse More Categories</div>
			</div>
			</div>
			</div>
			
           <div class="line"></div>
			<div class="container">
			<div class="row gx-5">
			<div class="col-lg-6">


			<h3>Q. How do I become an author?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</p>

			{% for faq in faq %}

			<div class="divider divider-right"><a data-scrollto="#faqs-list" href="#"><i class="fa-solid fa-chevron-up"></i></a></div>
			<h3>{{faq.qus}}</h3>
			<p> {{faq.ans}}</p>

			{% endfor %}
			</div>
			</div>
			<a class="button button-3d border-bottom-0 button-full text-center text-end fw-light font-primary mt-5 footer-stick" href="icons.html" style="font-size: 26px;">
			<div class="container">
									Check out our new Construction related Font Icons? <strong>Check Now</strong> <i class="uil uil-angle-right-b" style="top:3px;"></i>
			</div>
			</a>
			</div>
			</section><!-- #content end -->


<!-- Footer
		============================================= -->
<footer class="dark" id="footer">
	<div class="container">
	<!-- Footer Widgets
					============================================= -->
	<div class="footer-widgets-wrap">
	<div class="row">
	<div class="col-lg-9">
	<div class="widget">
	<img alt="Image" class="alignleft" src="{% get_image_url 46 %}" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;"/>
	<p id="p_24"></p>
	<div class="line" style="margin: 30px 0;"></div>
	</div>
	</div>
	<div class="col-lg-3 mt-5 mt-lg-0">
	<div class="widget">
	<div class="row col-mb-30">
	<div class="col-12">
	<div class="footer-big-contacts">
	<span>Call Us:</span>
												(1) 22 55412474
											</div>
	</div>
	<div class="col-12">
	<div class="footer-big-contacts">
	<span>Send an Email:</span>
												info@canvas.com
											</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div><!-- .footer-widgets-wrap end -->
	</div>
	<!-- Copyrights
				============================================= -->
	<div id="copyrights">
	<div class="container">
	<div class="row justify-content-between col-mb-30">
	<div class="col-12 col-md-auto text-center text-md-start">
								Copyrights © 2024 All Rights Reserved by zufan.et.<br/>
	<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
	</div>
	<div class="col-12 col-md-auto text-center text-md-end">
	<div class="copyrights-menu copyright-links">
	<a href="{% url 'web:index' %}">Home</a>/<a href="{% url 'web:about' %}">About Us</a>/<a href="{% url 'web:faq' %}">FAQs</a>/<a href="{% url 'web:contact' %}">Contact</a>
	</div>
	</div>
	</div>
	</div>
	</div><!-- #copyrights end -->
	</footer><!-- #footer end -->
	</div><!-- #wrapper end -->
	<!-- Go To Top
		============================================= -->
	<div class="uil uil-angle-up" id="gotoTop"></div>
	<!-- JavaScripts
		============================================= -->
	<script src="{% static 'js/plugins.min.js' %}"></script>
	<script src="{% static 'js/functions.bundle.js' %}"></script>
	<script src="{% static 'webfunction.js' %}"></script><script>
		document.addEventListener('DOMContentLoaded', function () {
			// Iterate over each key in the JSON data
			for (var key in jsonDataww) {
				if (jsonDataww.hasOwnProperty(key)) {
					var element = document.getElementById(key);
					if (element) {
						if(key.startsWith("a")){
							element.href = jsonDataww[key['link']];
						}else{
							element.textContent = jsonDataww[key];
						}
					}
				}
			}
		});
		</script></body>
	</html>